<template>
	<div>
		{{ text }}
	</div>
</template>
<script>
export default {
	name: 'Home',
	props: {
		text: { type: String }
	}
}
</script>
	
<style scoped lang="scss">
	div {
		font-weight: Bold;
		color: $color1;
		background-color: white;
		border: solid 2px $color1;
		display: inline-block;
		padding: 0.4em  0.5em;
		border-radius: 2px;
		box-shadow: 0 0 5px $color1;
		display: inline-block;
		&:hover {
			box-shadow: 2px 4px 12px $color2;
		}
	}

</style>

