<template>
	<h1>Ajouter un sujet</h1> 
	<div class='cont'>
		<form @submit.stop.prevent='onSubmit'>
			<textarea id="text" name="text" placeholder="Votre Texte" cols="50" required></textarea>
			<button type="submit">Valider</button>
		</form>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
	name: 'Home',
	data() { return {
		apiUrl: process.env.VUE_APP_API_URL
	}},
	computed: {
		...mapState(['logged', 'posts'])
	},
	methods: {
		...mapActions(['loginUpdate']),
		onSubmit(event) {
			const url = this.apiUrl + '/posts/' + this.posts.thread.id
			let formData = formatData(event.target, this.logged.userId)
			fetch(url, {
				method: 'POST',
				headers: { 
					'Accept': 'application/json', 
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + this.logged.token
				},
				body: formData
			})
			.then (response => response.json().then (data => {
					if (data.error)
						console.error(data.error)
					if (data.message) {
						console.log(data.message)
					}
					if (response.ok)
						this.$router.push({ name: 'Thread', params: { id: this.posts.thread.id }})
				})
			)
			.catch (err => console.error(err.message ? err.message : err))
		}
	},
	mounted() {
		this.loginUpdate() 
		.then (() => {
			if (!this.logged)

				this.$router.push('/login')
		})
	}
}

function formatData(target, userId) {
	let data = {
		text: target.text.value,
		userId: userId
	}
	return JSON.stringify(data)
}
</script>

<style scoped lang="scss">
	h1 {
		color: $color2;
		font-weight:bold;
		font-size: 1.5em;
		text-align: center;
		padding: 2em;
	}
	button {
		max-width: 400px;
		min-width: 200px;
		align-self: center;
	}
	textarea {
		min-height: 30vh
	}

	.cont {
		margin: 0 6vw;
	}
	form {
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $color1;
		font-weight: bold;
	}
</style>
