<template>
	<p v-if="msg" class="msg">{{ msg }}</p>
	<div class="cont">
		<h1>Dernières Discussions</h1> 
		<ul>
			<Button @click.stop="addThread" text="Nouvelle Discussion" aria-label="bouton pour commencer une nouvelle discussion" />
			<li v-for="thread in threads" :key="thread">
				<div @click.stop="deleteThread(thread.id)" class="delete-button">X</div> 
				<div class="username">
					<img v-if="thread.imageUrl" :src="thread.imageUrl" alt="profile photo" class="profilep">
					<img v-else alt="profile photo" src="../assets/default_profile.png" class="profilep">
					{{ thread.username }}
				</div> 
				<div @click.stop="visitThread(thread)" class="thread-title">{{ thread.title }}</div>
			</li>
		</ul>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Button from '../components/Button.vue'

export default {
	name: 'Home',
	data () { return {
		msg: history.state.msg
	}},
	components: {
		Button
	},
	computed: {
		...mapState(['logged', 'threads', 'posts'])
	},
	methods: {
		...mapActions(['loginUpdate', 'threadsUpdate', 'deleteThread']),
		addThread() {
			this.$router.push('/add-thread')
		},
		visitThread(thread) {
			this.posts.thread = thread
			this.$router.push({ name: 'Thread', params: { id: thread.id } })
		}
	},
	mounted() {
		this.loginUpdate() 
		.then (() => {
			if (!this.logged)
				this.$router.push('/login')
		})
		this.threadsUpdate()
	}
}
</script>


<style scoped lang="scss">
	h1 {
		color: $color2;
		font-weight:bold;
		font-size: 1.5em;
		text-align: center;
		padding: 2em;
	}
	.msg {
		color: green;
		text-align: center;
		position: relative;
		bottom:  30px;
		display: none;
	}
	.cont {
		padding: 0 6vw;
		width: 100vw;
		display: inline-flex;
		flex-direction: column;
		li {
			display: flex;
			height: 15vh;
			margin: 30px 0;
			box-shadow: 2px 2px 6px #bbbbbb;
			border: solid 2px;
			border-radius: 3px;
			color: $color1;
			font-weight: bold;
			text-align: center;
			&:hover {
				box-shadow: 2px 4px 12px $color2;
			}
		}
	}
	.thread-title {
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		text-overflow: clip;
		flex: 1;
	}
	.username {
		padding-top: 20px;
		padding: 1em;
		border-right: solid 2px $color1;
		min-width: 20%;
		max-width: 25%;
		color: $color2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.profilep {
		overflow: hidden;
	}
	.delete-button {
		padding-top: 5px;
		padding-left: 5px;
		display: inline-box;
		&:hover {
			box-shadow: 2px 4px 12px $color2;
		}
	}
</style>
