<template>
	<div class='cont'>
		<p v-if="msg" class="msg">{{ msg }}</p>
		<form v-on:submit.stop.prevent='onSubmit'>
			<p class="title">Connexion</p>
			<div>
				<label for="email">Email</label><br>
				<input type="email" id="email">
			</div>
			<div>
				<label for="password">Mot de passe</label><br>
				<input required type="password" id="password">
			</div>
			<button type="submit">Valider</button>
		</form>
		<p v-for="msg in errorMsg" :key="msg" class="error-msg">{{ msg }}</p>
	</div>
</template>


<script>
import { mapActions } from 'vuex'

export default {
	name: 'Login',
	data() { return {
		errorMsg: [],
		apiUrl: process.env.VUE_APP_API_URL,
		msg: history.state.msg
	}},
	methods: {
		...mapActions(['login']),
		onSubmit(event) {
			const url = this.apiUrl + '/auth/login'
			let formData = formatData(event.target)
			fetch(url, {
				method: 'POST',
				headers: { 
					'Accept': 'application/json', 
					'Content-Type': 'application/json' 
				},
				body: formData
			})
			.then (response => response.json().then (data => {
					if (data && data.error)
						console.error(data.error)
					if (data && data.message) {
						console.log(data.message)
						this.errorMsg = [ data.message ]
					}
					if (response.ok) {
						this.login(data)
						this.$router.push({ name: 'Home'})
					}
				})
			)
			.catch (err => console.error(err.message ? err.message : err))
		}
	}
}
function formatData(target) {
	let data = {
		email: target.email.value,
		password: target.password.value,
	}
	return JSON.stringify(data)
}
</script>


<style scoped lang="scss">
	.title {
		color: $color2;
		padding-bottom: 20px;
	}
	.cont {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	form {
		height: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		color: $color1;
		font-weight: bold;
	}
	.msg {
		color: green;
		padding-bottom: 10%;
	}
	.error-msg {
		color: red;
		padding-top: 20px;
	}
</style>
