<template>
	<div class='cont'>
		<form @submit.stop.prevent='onSubmit' enctype='multipart/form-data'>
			<div>
				<label for="email">Adresse e-mail</label>&nbsp;&nbsp;
				<input type="email"  id="email" :value="profileData.email">
			</div>
			<div>
				<label for="password">Mot de passe</label>&nbsp;&nbsp;
				<input type="password" id="password">
			</div>
			<div>
				<label for="pseudo">Pseudo</label>&nbsp;&nbsp;
				<input type="text"  id="pseudo" :value="profileData.pseudo">
			</div>
			<div>
				<label for="lastname">Nom</label>&nbsp;&nbsp;
				<input type="text"  id="lastname" :value="profileData.lastName">
			</div>
			<div>
				<label for="firstname">Prénom</label>&nbsp;&nbsp;
				<input type="text"  id="firstname" :value="profileData.firstName">
			</div>
			<div>
				<label for="birthdate">Date de Naissance</label>&nbsp;&nbsp;
				<input type="date"  id="birthdate" :value="profileData.birthDate">
			</div>
			<div>
				<label for="country">Pays</label>&nbsp;&nbsp;
				<input type="text"  id="country" :value="profileData.country">

			</div>
			<div>
				<label for="city">Ville</label>&nbsp;&nbsp;
				<input type="text"  id="city" :value="profileData.city">
			</div>
			<div>
				<label for="job">Métier</label>&nbsp;&nbsp;
				<input type="text"  id="job" :value="profileData.job">
			</div>
			<div>
				<label for="hobby">Centres d'intérêts</label>&nbsp;&nbsp;
				<input type="text"  id="hobby" :value="profileData.hobbies">
			</div>
			<div>
				<label for="image">Image de profile</label>&nbsp;&nbsp;
				<input type="file" id="image">
			</div>
			<button type="submit">Valider</button>
		</form>
		<p v-for="msg in errorMsg" :key="msg" class="error-msg">{{ msg }}</p>
	</div>
</template>


<script>
import {  mapState, mapActions } from 'vuex'

export default {
	name: 'Modifyprofile',
	data() { return {
		errorMsg: [],
		profileData: {},
		apiUrl: process.env.VUE_APP_API_URL
	}},
	computed: {
		...mapState(['logged'])
	},
	methods: {
		...mapActions(['getUserData']),
		onSubmit(event) {
			const url = this.apiUrl + '/profile/' + this.logged.userId
			let formData = formatData(event.target)
			fetch(url, {
				method: 'PUT',
				headers: { 
					'Accept': 'application/json', 
					'Authorization': 'Bearer ' + this.logged.token
				},
				body: formData
			})
			.then (response => response.json().then (data => {
					if (data.error)
						console.error(data.error)
					if (data.message) {
						console.log(data.message)
						this.errorMsg = [ data.message ]
					}
					if (response.ok)
						this.$router.push({ name: 'Profile', state: { msg: 'Modification complétée' } })
				})
			)
			.catch (err => console.error(err.message ? err.message : err))
		},
	},
	mounted() {
		this.getUserData()
		.then(data =>  this.profileData = { ...data })
		.catch(err => console.error(err.message ? err.message : err))
	}
}

function formatData(target) {
	let data = {
		email: target.email.value,
		pseudo: target.pseudo.value,
		password: target.password.value,
		firstName: target.firstname.value,
		lastName: target.lastname.value,
		birthDate: target.birthdate.value,
		country: target.country.value,
		city: target.city.value,
		job: target.job.value,
		hobbies: target.hobby.value,
		image: target.image.files[0]
	}
	let formData = new FormData() 
	Object.keys(data).forEach( key => {
		formData.append(key, data[key])
	})
	return formData
}
</script>


<style scoped lang="scss">
	.cont {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	form {
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: left;
		color: $color1;
		font-weight: bold;
	}
	.error-msg {
		color:red;
	}
</style>
