<template>
	<div class='cont'>
		<p v-if="msg" class="msg">{{ msg }}</p>
		<div class="profile-image">
			<img v-if="profileData.imageUrl" :src="profileData.imageUrl" alt="profile photo">
			<img v-else alt="profile photo" src="../assets/default_profile.png">
		</div>
		<ul>
			<li>Prénom: {{ profileData.firstName }}</li>
			<li>Nom: {{ profileData.lastName }}</li>
			<li>Email: {{ profileData.email }}</li>
			<li>Pseudo: {{ profileData.pseudo }}</li>
			<li>Date de naissance: {{ profileData.birthDate  }}</li>
			<li>Pays: {{ profileData.country }}</li>
			<li>Ville: {{ profileData.city }}</li>
			<li>Métier: {{ profileData.job }}</li>
			<li>Centres d'intérêts: {{ profileData.hobbies }}</li>
		</ul>
	</div>
	<div class="options">
		<button @click.stop="modifyprofile">Modifier le profile</button>

		<button @click.stop="deleteAccount">Supprimer le compte</button>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
	name: 'profile',
	data() { return {
		profileData: {},
		apiUrl: process.env.VUE_APP_API_URL,
		msg: history.state.msg
	}},
	computed: {
		...mapState(['logged']),
	},
	methods: {
		...mapActions(['loginUpdate', 'getUserData', 'logout']),
		modifyprofile(){
			this.$router.push('/modify-profile')
		},
		deleteAccount(){
			let url = this.apiUrl + '/profile/' + this.logged.userId
				fetch(url, {
					method: 'DELETE',
					headers: { 
						'Authorization': 'Bearer ' + this.logged.token
					},
				})
				.then (response => {
					if (response.ok) return(response.json())
						else
					throw (`Error ${response.status} while trying to fetch ${url}`)
				})
				.then (data => {
					if (data && data.error)
						console.error(data.error)
					if (data && data.message) {
						console.log(data.message)
					}
					this.logout()
					this.$router.push({ name: 'Login', state: { msg: 'Compte supprimé' } })
				})
				.catch(err => console.error(err.message ? err.message : err))
		}
			
	},
	mounted() {
		this.loginUpdate() 
		.then (() => {
			if (!this.logged)
				this.$router.push('/login')
		})
		this.getUserData()
		.then(data =>  this.profileData = { ...data })
		.catch(err => console.error(err.message ? err.message : err))
	}
}
</script>



<style scoped lang="scss">
	.cont {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.profile-image {
		width: 300px;
		margin-bottom: 15vh;
	}
	ul {
		height: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		color: $color1;
		font-weight: bold;
	}
	.options {
		display: flex;
		justify-content: space-around;
		position:  fixed;
		width: 100vw;
		bottom: 5vh;
		button {
			position: relative;
			font-size: 1.2em;
		}
	}
	.msg {
		color: green;
		padding: 20px;
	}
</style>
