<template>
	<div class='cont'>
		<form @submit.stop.prevent='onSubmit'>
			<div>
				<label for="email">Adresse e-mail</label>&nbsp;&nbsp;
				<input type="email" required id="email">
			</div>
			<div>
				<label for="password">Mot de passe</label>&nbsp;&nbsp;
				<input type="password" required id="password">
			</div>
			<div>
				<label for="pseudo">Pseudo</label>&nbsp;&nbsp;
				<input type="text" required id="pseudo">
			</div>
			<div>
				<label for="lastname">Nom</label>&nbsp;&nbsp;
				<input type="text" required id="lastname">
			</div>
			<div>
				<label for="firstname">Prénom</label>&nbsp;&nbsp;
				<input type="text" required id="firstname">
			</div>
			<div>
				<label for="birthdate">Date de Naissance</label>&nbsp;&nbsp;
				<input type="date" required id="birthdate">
			</div>
			<div>
				<label for="country">Pays</label>&nbsp;&nbsp;
				<input type="text" required id="country">
			</div>
			<div>
				<label for="city">Ville</label>&nbsp;&nbsp;
				<input type="text" required id="city">
			</div>
			<div>
				<label for="job">Métier</label>&nbsp;&nbsp;
				<input type="text" required id="job">
			</div>
			<div>
				<label for="hobby">Centres d'intérêts</label>&nbsp;&nbsp;
				<input type="text"  id="hobby">
			</div>
			<button type="submit">Valider</button>
		</form>
		<p v-for="msg in errorMsg" :key="msg" class="error-msg">{{ msg }}</p>
	</div>
</template>


<script>
export default {
	name: 'Signup',
	data() { return {
		errorMsg: [],
		apiUrl: process.env.VUE_APP_API_URL
	}},
	methods: {
		onSubmit(event) {
			const url = this.apiUrl + '/auth/signup'
			if (!formValid(event.target)) {
				throw new Error ('invalid form')
			}
			let formData = formatData(event.target)
			fetch(url, {
				method: 'POST',
				headers: { 
					'Accept': 'application/json', 
					'Content-Type': 'application/json' 
				},
				body: formData
			})
			.then (response => response.json().then (data => {
					if (data.error)
						console.error(data.error)
					if (data.message) {
						console.log(data.message)
						this.errorMsg = [ data.message ]
					}
					if (response.ok)
						this.$router.push({ name: 'Login', state: { msg: 'Inscription complétée' } })
				})
			)
			.catch (err => console.error(err.message ? err.message : err))
		},
	}
}

function formatData(target) {
	let data = {
		email: target.email.value,
		pseudo: target.pseudo.value,
		password: target.password.value,
		firstName: target.firstname.value,
		lastName: target.lastname.value,
		birthDate: target.birthdate.value,
		country: target.country.value,
		city: target.city.value,
		job: target.job.value,
		hobbies: target.hobby.value
	}
	return JSON.stringify(data)
}

function formValid(target) {
		return /[a-zA-Z0-9 ,.'-]+/.test(target.firstname.value) &&
			/[a-zA-Z0-9 ,.'-]+/.test(target.lastname.value) &&
			/[a-zA-Z0-9]+/.test(target.pseudo.value)
}
</script>


<style scoped lang="scss">
	.cont {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	form {
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: left;
		color: $color1;
		font-weight: bold;
	}
	.error-msg {
		color:red;
	}
</style>
