<template>
	<p v-if="this.$route.params.msg" class="msg">{{ this.$route.params.msg }}</p>
	<div class="cont">
		<h1>{{ posts.thread.title }}</h1> 
		<ul>
			<Button @click.stop="addPost" text="Nouveau Message"  aria-label="bouton" />
			<li class="starter">
				<div @click.stop="deleteThread(posts.thread.id)" class="delete-button">X</div> 
				<div class="username">
					<img v-if="posts.thread.imageUrl" :src="posts.thread.imageUrl" alt="profile photo" class="profilep">
					<img v-else alt="profile photo" src="../assets/default_profile.png" class="profilep">
					{{ posts.thread.username }}
				</div> 
				<div class="message">{{ posts.thread.text }}</div>
			</li>
			<li v-for="msg in posts.msgs" :key="msg">
				<div @click.stop="deletePost(msg.id)" class="delete-button">X</div> 
				<div class="username">
					<img v-if="msg.imageUrl" :src="msg.imageUrl" alt="profile photo" class="profilep">
					<img v-else alt="profile photo" src="../assets/default_profile.png" class="profilep">
					{{ msg.username }}
				</div> 
				<div class="message">{{ msg.text }}</div>
			</li>
		</ul>
	</div>
</template>


<script>
import { mapState, mapActions } from 'vuex'
import Button from '../components/Button.vue'

export default {
	name: 'Home',
	components: {
		Button
	},
	computed: {
		...mapState(['logged', 'posts'])
	},
	methods: {
		...mapActions(['logout', 'loginUpdate', 'postsUpdate', 'deleteThread', 'deletePost']),
		addThread() {
			this.$router.push('/add-thread')
		},
		addPost() {
			this.$router.push('/add-post')
		}
	},
	mounted() {
		this.loginUpdate() 
		.then (() => {
			if (!this.logged)
				this.$router.push('/login')
		})
		this.postsUpdate(this.$route.params.id)
	}
}
</script>


<style scoped lang="scss">
	h1 {
		color: $color2;
		font-weight:bold;
		font-size: 1.2em;
		text-align: center;
		padding: 2em;
		width: 100%;
	}
	.msg {
		color: green;
		text-align: center;
		position: relative;
		bottom:  30px;
		display: none;
	}
	.cont {
		padding: 0 6vw;
		width: 100%;
		display: inline-flex;
		flex-direction: column;
		li {
			display: flex;
			min-height: 15vh;
			margin: 30px 0;
			box-shadow: 2px 2px 6px #bbbbbb;
			border: solid 2px;
			border-radius: 3px;
			color: $color1;
			font-weight: bold;
			text-align: center;
		}
	}
	.message {
		overflow: hidden;
		white-space: pre-wrap;
		word-wrap: break-word;
		padding: 3em;
		text-align: left;
		flex: 1;
	}
	.username {
		padding: 1em;
		border-right: solid 2px $color1;
		min-width: 20%;
		color: $color2;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		min-width: 20%;
		max-width: 25%;

	}
	.starter {
		background-color: #e5e5e5;
	}
	.delete-button {
		padding-top: 5px;
		padding-left: 5px;
		display: inline-box;
		&:hover {
			box-shadow: 2px 4px 12px $color1;
		}
	}
</style>

